.wrapper{
    display:flex;
    flex-direction: column;
    /*main axis */
    justify-content: center;
    /* cross axis*/
    align-items: center;
    height: 200vh;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    color:white;
}