.grid{
    display:grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 50px repeat(2, 100px) 50px;
    grid-template-areas: 
    "header header header header"
    "content content . nav"
    "content content . nav"
    "footer footer footer footer";
}

.header{
    background-color: greenyellow;
    grid-area: header;
}

.content{
    background-color: mediumpurple;
    grid-area: content;
}

.nav{
    background-color: mediumturquoise;
    grid-area: nav;
}

.footer{
    background-color: mediumvioletred;
    grid-area: footer;
}
