.item:nth-child(odd){
    background-color: greenyellow;
}

.item:nth-child(even){
    background-color: mediumpurple;
}

.grid{
    display: grid;
    gap: 5px;
    margin: 30px;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    grid-auto-rows: 100px;
}



