.father{
    display:grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    gap: 10px;
}

.child{
    background-color: greenyellow;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2){
    background-color: mediumpurple;
}
