$min1: 1200px;
$min2: 822px;

$header1: 600px;
$header2: 420px;


@mixin responsive($size) {
    @if $size == 'big'{
        @media screen and (min-width: $min1){
            @content;
        }
    }
    @else if $size == 'middle'{
        @media screen and (min-width: $min2 + 1) and (max-width: $min1 - 1) and (orientation: landscape){
            @content;
        }
    }
    @else if $size == 'small'{
        @media screen and (max-width: $min2) and (orientation: landscape){
            @content;
        }
    }
}

@mixin common($color){
    font-family: RingsideExtraWide,Blank,Helvetica Neue,Helvetica,sans-serif;
    color: $color;
}