$minphone: 500px;
$maxphone: 699px;
$minpad: $minphone + 1;
$maxpad: 1120px;
$minpc: 1121px;
$maxpc: 1920px;

@mixin responsive($device) {
    @if $device == 'phone'{
        @media screen and (min-width: $minphone) and (max-width: $maxphone){
            @content;
        }
    }
    @else if $device == 'pad'{
        @media screen and (max-width: $maxpad) and (min-width: $minpad) and (orientation: landscape){
            @content;
        }
    }
    @else if $device == 'pc'{
        @media screen and (max-width: $maxpc) and (min-width: $minpc) and (orientation: landscape){
            @content;
        }
    }
}
