@import "_variables";
@import "_mixins";
@import "_extends";
.entire{
  @include responsive("big"){
    display:grid;
    grid-template-columns: 600px 1fr;
  }
  @include responsive("middle"){
    display:grid;
    grid-template-columns: 420px 1fr;
  }
  @include responsive("small"){
    display:grid;
    grid-template-columns: 1fr;
  }
}
h1{
  font-size: 5rem;
  text-transform: uppercase;
  transform: translateX(-0.1em);
  @include common($myred);
}

h2{
  @include common($myred);
  font-size: 1.6em;
}

p{
  &:nth-child(1){
    @include common($myred);
  }
  &:nth-child(2){
    @include common(black);
  }
}

.buttons{
  display:flex;
}

a{
  margin: 0 1em 0.25em 0;
}