@import "_variables";
@import "_mixins";
@import "_buttons";

h1{
  color: red;
  @include responsive("phone"){
    color: yellow;
  }
  @include responsive("pad"){
    font-size: 100px;
  }
  @include responsive("pc"){
    color: green;
  }
}
